.uploadPhotos {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  padding-right: 30px;
  margin: 20px 0;
  background: url('../icons/upload-photo.png') no-repeat 95% 40%;
  background-size: 16px;
}

input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.selectedFiles {
  font-size: 14px;
  padding-left: 5px;
  display: inline;
}

.uploadPhotos:hover {
  cursor: pointer;
}

.uploadPhotos:active {
  box-shadow: inset 1px 1px 1px #333;
}

.uploadedImg {
  padding: 2px;
  margin: 10px 10px 10px 0;
  border: 1px solid gray;
  border-radius: 5px;
  height: 100px;
  width: 100px;
  object-fit: contain;
}