* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

main {
  font-size: 16px;
  width: 95%;
  margin: 0 auto;
  min-height: 72.5vh;
}